@charset "UTF-8";

@media (min-width: 320px) and (max-width: 768px) {
    
    body {
        overflow: hidden;
    }
    
    header {
        height: auto; 
        padding: 20px 0;
        overflow: hidden;
    }

    .site-title {
        font-size: 2.5em; 
        padding: 30px;
        margin-bottom: 20vh; 
    }

    .menu ul {
        flex-direction: row; 
        align-items: center;
        height: 40px;
    }

    .menu a {
        padding: 15px; 
        width: 100%; 
        text-align: center; 
        font-size: 0.8em;
    }

    .baixo {
        position: relative;
        margin: 95px;
        padding: 40px;
    }

    .text-below-logo {
        margin-top: 10px; 
    }

    footer {
        position: fixed;
        bottom: 0; 
        left: 0;
        right: 0; 
        background-color: #400D01; 
        color: #F7954A; 
        text-align: center; 
        padding: 7px; 
        font-size: 0.8em;
        height: 30px;
    }
}