@charset "UTF-8";

@media (max-width: 600px) {
    .site-title {
        margin-top: 82px;
        font-size: 3em;
    }
    .center img {
        width: 110px;
    }

    .text-below-logo {
        margin-top: 26px;
    }
  }