@charset "UTF-8";

/*Todas as demais medias*/

/*typical Device Breakpoints
----------------------------
Pequenas telas: até 600px
Celular: de 600px até 768px
Tablet: 768px até 992px
Desktop: 992px até 1200px
Grandes telas: acima de 1200px*/

@media (min-width: 400px) {
    body {
        font-size: 14px;
    }
}

@media (min-width: 600px) {
    body {
        font-size: 18px;
    }
}

@media (min-width: 1200) {
    body {
        font-size: 20px;
    }
}