@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f7954ad0;
    display: flex;
    flex-direction: column;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
}

header {
    height: 96vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    background-color: #400D01;
    justify-content: center;
    list-style: none;
    padding: 0;
    position: fixed;
    margin: 0;
    width: 100vw;
    top: 0;
}

.menu ul {
    display: flex;
    justify-content: space-around;
}

.menu li {
    align-items: center;
    display: flex;
}

.menu a {
    display: block;
    padding: 10px 20px;
}

a {
    color: #f7954ad0;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: white;
}

.centered {
    display: block;
    text-align: center;
}

.center {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%);
}


.text-below-logo {
    text-align: center;
    margin-top: 90px;
}

.site-title {
    background: linear-gradient(45deg, #FA8E0B, #E45C01, #FA490B, #F0240B, #FA490B);
    background-size: 400% 100%;
    font-size: 4em;
    margin-bottom: 50%;
    text-transform: uppercase;
    text-align: center;
    animation: degrade 10s linear infinite alternate;
    padding-bottom: 0px;
    margin-bottom: 25px;


    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


@keyframes degrade {
    0%{
        background-position-x: 0%;
    }

    100% {
        background-position: 400%;
    }
}

.site-subtitle {
    text-align: italic;
}

footer{
    background-color: #400D01;
    color: #F7954A;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
    position: relative;
  }
  
  footer a{
    color: #F7954A;
    font-weight: bolder;
    text-decoration: none;
  }
  
  footer a:hover{
    text-decoration: underline;
    color: orangered;
  }