@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f7954ad0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    overflow-y: hidden;
}

header {
    height: 40vh; /* Altura ajustável conforme necessário */
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    background-color: #753300;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999; /* Certifique-se de que o menu esteja na frente de outros elementos */
}

.menu ul {
    display: flex;
    justify-content: space-around;
}

.menu li {
    list-style: none;
}

.menu a {
    display: block;
    padding: 10px 20px;
}

a {
    color: #F7954A;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: white;
}

.container {
    position: relative;
    width: 90%; /* Largura ajustável conforme necessário */
    margin: 0 auto; /* Centraliza o conteúdo */
}

.center {
    text-align: center; /* Centraliza o conteúdo */
}

.text-below-logo {
    text-align: center;
    margin-top: 20px; /* Espaçamento inferior ajustável */
}

.site-title {
    font-size: 2em; /* Tamanho do título ajustável */
    color: #753300;
}

.site-subtitle {
    font-style: italic;
}

footer{
    background-color: #753300;
    color: #F7954A;
    text-align: center;
    font-size: 0.8em;
    padding: 10px 0;
}

footer a{
    color: #F7954A;
    font-weight: bold;
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
    color: white;
}

@media only screen and (max-width: 600px) {
    body {
        font-size: 16px; 
    }

    header {
        height: 100vh; 
    }

    .site-title {
        font-size: 1.5em; 
    }
}
