@charset "UTF-8";

body {
    background-color: #f7954ad0;
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    color: #400D01;
    padding: 10px;
}

h2 {
    background-color: #400D01;
    text-align: center;
    font-weight: bold;
    color: #f7954ad0;
    padding: 10px;
    margin: -10px 0px 0px 0px;
    border-radius: 10px 10px 0px 0px;
}

.habilidade {
    display: flex;
    align-items: center;
    margin: 10px 0;
}


.progress-bar {
    background: #eee;
    border-radius: 5px;
    height: 20px;
    margin-left: 10px;
    flex: 1;
}

.progress {
    background: #ff6600;
    height: 100%;
    border-radius: 5px;
    transition: width 0.5s;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

p {
    margin-top: 20px; 
    display: inline-block; 
}

a {
    color: #400D01;
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
    color: white;
}