@charset "UTF-8";

body {
    background-color: #f7ddc9;
    font-family: 'Times New Roman', Times, serif;
}

.centro {
    text-align: center;
}

h1, h2 {
    color: #ff6601;
}

.work_container img {
    height: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.849);
    box-sizing: border-box;
    background-color: white;
}

.work_container img:hover {
    border: 3px solid #ff6601;
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.774);
    transition: transform 0.5s, border 0.3s;
}

.work_container img:active {
    transform: scale(95%);
}

.lado {
    position: relative;
    float: none; 
    margin-left: 0; 
    margin-top: 20px; 
}

.lado img {
    position: relative;
    margin-bottom: 25px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.425);
    border-radius: 15px;
}

a {
    color: #400D01;
    text-decoration: none;
    font-weight: bolder;
}

.color p {
    position: relative;
    top: -20px
}

.color p a:hover {
    text-decoration: underline;
    color: #ff6601;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .container {
        padding: 0 10px; 
    }
    
    .lado img {
        top: -20px; 
    }
}

@media screen and (min-width: 993px) and (max-width: 1200px) {
    .container {
        padding: 0 10px;
    }

    .lado img {
        top: -20px;
    }
}

@keyframes spin {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

.centro {
    animation: spin 5s linear infinite; /*Gira a logo em 5 segundos infinitamente*/
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(50px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.lado {
    opacity: 0; /*Começa invisível*/
    animation: fadeInUp 1s ease-out forwards;
}