@charset "UTF-8";

body {
    background-color: #f7954ad0;
    font-family: 'Times New Roman', Times, serif;
    overflow: hidden;
    margin: 0;
}

.centro {
    text-align: center;
}

h1, h2 {
    color: #753300;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 200px;
}

.lado {
    margin-left: auto;
}

a {
    color: #753300;
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
    color: white;
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        text-align: center;
    }
}
    
    .lado {
        margin-left: auto;
        margin-top: 20px;
    }