@charset "UTF-8";

body {
    background-color: #f7954ad0;
    font-family: 'Times New Roman', Times, serif;
}

.centro {
    text-align: center;
}

h1, h2 {
    color: #753300;
}

a {
    color: #753300;
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
    color: white;
}